@model EventHomepage.Models.EventDetailsViewModel

@{
    ViewData["Title"] = $"Event details - {Model.Name}";
}

<header>Event details page</header>
<h1>@Model.Name</h1>
<h3>@Model.Description</h3>
<p>@Model.StartDateTime</p>
<p>@Model.EndDateTime</p>
<p>@Model.Location</p>
<p>Participants count: @Model.ParticipantCount</p>
@if (Model.MaxParticipants != null)
{
    <p>Max Participants: @Model.MaxParticipants</p>
}

@if (TempData["RegistrationError"] != null)
{
    <div class="Error">
        @TempData["RegistrationError"]
    </div>
}
@if (TempData["RegistrationSuccess"] != null)
{
    <div class="Success">
        @TempData["RegistrationSuccess"]
    </div>
}

<form asp-action="Register" asp-route-id=@Model.Id method="post">
    <div class="reg-form">
        <label for="ParticipantName">Name</label>
        <input type="text" name="ParticipantName" />
    </div>
    <div class="reg-form">
        <label for="ParticipantEmail">Email</label>
        <input type="text" name="ParticipantEmail" />
    </div>
    <div class="reg-form">
        <button type="submit" value="Register">Submit</button>
    </div>
</form>

<div>
    <a asp-action="Index">Back to Events List</a>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/details.css" />
}